@model TddDemo.Serie
<h2><a asp-action="Edit" asp-route-id="@Model.Id">@Model.Title</a></h2>
<ul>
    @foreach (var season in Model.Seasons)
    {
        <li>
            @season.Title
            <ul>
                @foreach (var episode in season.Episodes)
                {
                    <li>@episode.Title</li>
                }
            </ul>
        </li>
    }
</ul>