@using TddDemo
@model IEnumerable<Serie>
<h2>Series</h2>
<table class="table">
    <tr><th>Title</th></tr>
    @foreach (var item in Model)
    {
        <tr><td><a asp-action="Details" asp-route-id="@item.Id">@item.Title</a></td></tr>
    }
</table>